    <table class="table table-hover">
        <tr bgcolor="#a5a5a5">
            <td width="40px">
            </td>
            <th width="160px">
                <a style="" href="{{ url_for('main.config_schedule', area_name=area.name,
                shift_name=shift.name, schedule_name=schedule.name) }}">
                    <b>{{ schedule.name }}</b>
                </a>
            </th>
            <td>{{ schedule.get_available_time() }} available seconds</td>
            <td>Block 1</td>
            <td>Block 2</td>
            <td>Block 3</td>
            <td>Block 4</td>
        </tr>
        <tr bgcolor="#e6e6e6">
            <td></td>
            <td></td>
            <td></td>
            <td>{{ schedule.start1.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.start2.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.start3.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.start4.strftime('%I:%M %p') }}</td>
        </tr>
        <tr bgcolor="e6e6e6">
            <td></td>
            <td></td>
            <td></td>
            <td>{{ schedule.end1.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.end2.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.end3.strftime('%I:%M %p') }}</td>
            <td>{{ schedule.end4.strftime('%I:%M %p') }}</td>
        </tr>
    </table>
