{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><h1>Area: {{ area.name }}</h1></td>
        </tr>
    </table>
    {% if current_user in area.users %}
    <p>You can edit stuff here!</p>
    {% endif %}
    <hr>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Shift</th>
          <th scope="col">Monday</th>
          <th scope="col">Tuesday</th>
          <th scope="col">Wednesday</th>
          <th scope="col">Thursday</th>
          <th scope="col">Friday</th>
          <th scope="col">Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Grave</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Day</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Swing</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
{% endblock %}
