{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td><h1>Shift Overview: {{ kpi }}</h1></td>
        </tr>
    </table>
    <hr>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Sequence</th>
            {% for block in blocks %}
            <th scope="col">
                {% if schedule[block*2-2] < datetime.datetime.now() - datetime.timedelta(hours=7)%}
                {% if datetime.datetime.now() - datetime.timedelta(hours=7) < schedule[block*2-1] %}
                <p style="color:red">IN PROGRESS</p>
                {% endif %}
                {% endif %}
                Block {{ block }}
                <p>{{ (schedule[block*2-1] - schedule[block*2-2]).total_seconds()|int }} Seconds</p>
            </th>
            {% endfor %}
            <th>
                Totals
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sequence in sequences %}
            <tr>
                <th scope="row">
                    <p>Sequence {{ sequence }}</p>
                </th>
                {% for block in blocks %}
                <td>
                    <p>
                        Cycles: {{ kpi.cycles.filter(Cycle.d > schedule[block*2-2],
                                                    Cycle.d < schedule[block*2-1],
                                                    Cycle.sequence==sequence).count() }}
                    </p>
                    {% if kpi.cycles.filter(Cycle.sequence==sequence).first().parts_per %}
                    <p>
                        Expected: {{ ((schedule[block*2-1] - schedule[block*2-2]).total_seconds() /
                                        (kpi.plan_cycle_time * kpi.cycles.filter(Cycle.sequence==sequence).order_by(
                                                                        Cycle.d.desc()).first().parts_per))|int }}
                    </p>
                    {% else %}
                    <p>
                        Expected: 0 (missing data)
                    </p>
                    {% endif %}
                    <p>
                        Andons: {{ Andon.query.filter(Andon.id_kpi == kpi.id,
                                                      Andon.sequence == sequence,
                                                      Andon.d >= schedule[block*2-2],
                                                      Andon.d <= schedule[block*2-1]).count() }}
                    </p>
                </td>
                {% endfor %}
                <td>
                    <p>
                        Cycles: {{ kpi.cycles.filter(Cycle.sequence==sequence).count() }}
                    </p>
                    {% if kpi.cycles.filter(Cycle.sequence==sequence).first().parts_per %}
                    <p>
                        Expected: {{ (kpi.schedule.get_available_time() /
                                        (kpi.plan_cycle_time * kpi.cycles.filter(Cycle.sequence==sequence).order_by(
                                                                        Cycle.d.desc()).first().parts_per))|int }}
                    </p>
                    {% else %}
                    <p>
                        Expected: 0 (missing data)
                    </p>
                    {% endif %}
                    <p>
                        Andons: {{ Andon.query.filter(Andon.id_kpi == kpi.id,
                                                      Andon.sequence == sequence).count() }}
                    </p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
