{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table valign="top">
        <tr valign="top">
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"><h2>Areas</h2></th>
            <th scope="col"><h2>Shifts</h2></th>
            <th scope="col"><h2>Admin</h2></th>
        </tr>
        </thead>
        <tr>
            <td>
                {{ wtf.quick_form(area_form) }}
                <p>All Areas:</p>
                <p>{{ area_string }}</p>
            </td>
        </tr>

    </table>
{% endblock %}
